@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;



.redden-child-link:hover a {
    --tw-bg-opacity: 1;
    color: rgb(185 28 28 / var(--tw-bg-opacity));
}

input:not(:is([type="checkbox"], [type="radio"])) {
    @apply transition-colors;
    @apply duration-300;
}

input:not(:is([type="checkbox"], [type="radio"])):focus {
    outline: none !important;
    @apply border-red-700;
}

.error-msg {
    @apply block;
    @apply text-red-700;
    @apply text-center;
}
